body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#Galery {
  background-color: #e2edff;
}

#project {
  bcakground-color: ##e2edff;
}

section {
  padding-top: 4rem;
}

.projeck-img {
  width: 100%;
}

#projeck .row > * {
  padding: 0;
}
